
body {
    font-family: sans-serif;
    color: #453c52;
    max-width: 425px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
  }
  
  .TodoPageTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .AddTodo {
    display: flex;
    align-items: stretch;
    height: 32px;
    margin-bottom: 24px;
    padding-left: 6px;
  }
  
  .AddTodo-text {
    padding: 6px 12px;
    margin-right: 10px;
    border: 1px solid #bfb8cc;
    border-radius: 4px;
    border-style: solid;
    width: 190px;
  }
  
  .AddTodo-date {
    border: 1px solid #bfb8cc;
    border-radius: 4px;
    padding: 6px 6px;
    margin-right: 10px;
    font-size: 14px;
    width: 93px;
  }
  
  .AddTodo-button {
    background-color: #48bb78;
    border-radius: 4px;
    border-color: transparent;
    color: white;
    font-size: 14px;
    width: 72px;
  }
  
  .TodoSection {
    margin-bottom: 20px;
  }
  
  .TodoTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 19px;
  }
  
  .TodoTitle-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
  }
  
  .TodoTitle-count {
    font-size: 12px;
  }
  
  .TodoItem {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .TodoItem-checkbox {
    border: 1px solid #bfb8cc;
    border-radius: 4px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
  
  .TodoItem-text {
    font-size: 14px;
    line-height: 19px;
    margin-right: 10px;
  }
  
  .TodoItem-dueDate {
    font-size: 10px;
    color: rgb(103,89,123);
    margin-left: 10px;

  }
  .TodoItem-deletebox {
    width: 8.6px;
    height: 12.2px;
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  
  .TodoItem:hover .TodoItem-deletebox {
    visibility: visible;
  }
  
  .TodoItem-date {
    font-size: 12px;
    line-height: 17px;
    color: #726a7e;
    margin-right: 10px;
  }
  
  .TodoItem:hover {
    background-color: #f1edf7;
  }
  /*typography scale
    34 px
    24 px
    20 px
    16 px
  
/* Typography scale
48px
34px
24px
20px
16px
*/